# Скопируйте в .env и заполните своими значениями
# cp .env.example .env

BOT_TOKEN=
HEALTH_PORT=
MAILTM_BACKOFF_BASE_SEC=
MAILTM_MAX_CONCURRENCY=
MAILTM_MAX_RETRIES=
MAILTM_MIN_INTERVAL_SEC=
SUPPORT_BOT_TOKEN=
