[Unit]
Description=Telegram Bot
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/srv/bots/tgbot
Environment=PATH=/srv/bots/tgbot/venv/bin:$PATH
ExecStart=/srv/bots/tgbot/venv/bin/python /srv/bots/tgbot/main.py
Restart=always
RestartSec=10
StandardOutput=append:/srv/bots/tgbot/logs/INFO.log
StandardError=append:/srv/bots/tgbot/logs/ERROR.log

[Install]
WantedBy=multi-user.target
